body, html {
  height: 100%;
  font-family: myFirstFont;
}

@font-face {
  font-family: myFirstFont;
  src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: heavy_font;
  src: url("../fonts/Avenir-Heavy.otf");
}

@font-face {
  font-family: light_font;
  src: url("../fonts/GOTHAM-THIN.TTF");
}

.row {
  margin-right: 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #4acaff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #4acaff;
}

.navbar-default .navbar-brand:hover {
  color: #4acaff;
  background-color: transparent;
}

.navbar {
  position: relative;
  color: white;
  border-radius: 0px;
}

.navbar-nav {
  font-family: myFirstFont;
  margin-top: 10px;
  float: right !important;
}

.navbar-default {
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: “Bernard MT Condensed”, Times, serif;
  font-size: 40px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: large;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #4acaff;
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #4acaff;
  background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

section {
  /*width: 500px; height:100%; margin: 0 auto;*/
}

.bg {
  /* The image used */
  background-image: url("../images/bg_search_top.jpg");
  /* Full height */
  /*height: 14%;*/
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -82px;
}

.back_color {
  background-color: rgba(0, 0, 0, .4);
  height: 96px;
}

.caption {
  position: absolute;
  left: 20%;
  top: 18%;
  width: 50%;
  font-family: myFirstFont;
  /*text-align: center;*/
}

.cap-blue {
  color: white;
  font-size: 40px;
}

.cap-bold {
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
}

.butn {
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 25px;
}

.butn-info {
  color: #fff;
  background-color: #4acaff;
  border-color: #4acaff;
}

.how_text {
  text-align: center;
}

.why_text_bold {
  text-transform: uppercase;
  font-size: 55px;
  color: #4acaff;
  font-family: heavy_font;
}

.why_text_light {
  text-transform: uppercase;
  font-size: 50px;
  color: #4acaff;
  font-weight: 100;
  font-family: light_font;
}

footer {
  background-color: #4acaff;
}

.footer-stick {
  margin-left: 15%;
  color: white;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}


/*********************************
            timeline
*********************************/

.card {
  position: relative;
  margin-top: 70px;
  background-color: white;
  z-index: 2;
}

.card_icon {
  position: absolute;
}


/*.img-circle {
  border-radius: 50%;
  /*background-color: #4acaff;
  padding: 20px;*/


}
*/ .card_heading {
  padding-top: 15px;
  text-transform: uppercase;
}
.card_text {
  font-size: 17px;
  margin-left: 90px;
}
.card:last-child {
  margin-bottom: 20px;
}
.card:before {
  position: absolute;
  border: 1px solid #4acaff;
  width: 0;
  height: 60px;
  display: block;
  content: '';
  background: #4acaff;
  z-index: 1;
  top: 65px;
  margin-left: 19px;
}
.card:last-child:before {
  display: none;
}

/**************************************

**************************************/
.user_image {
  padding: 10px;
}
#form {
    margin-top:  47px;
  text-align: center;
}

.form-group .name_group{

}

 .name {
  font-size: 18px;
  color: #333;
  margin-top: 14px;
  margin-left: -30px;
  float: left;
}
input {
  width: 400px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #aaa;
  margin-top: 10px;
  outline: none;
      margin-left: -100px;
}

.line{
  margin-top: 0px;
  height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.select2_box{
  width: 300px;
}

.select2_box_small{
  width: 170px;
  margin-bottom: 20px;
}

.select2-search__field{
  margin-left: 0;
}

.select2-container {
    /*margin-left: 50px !important;*/
    margin-bottom: 15px !important;
    box-sizing: border-box;
    display: inline-block;
    /* margin: 0; */
    position: relative;
    vertical-align: middle;
}

[class^='select2'] {
  border-radius: 20px !important;
}
/*.select2 {
  width: 300px !important;
  float: left;
}*/
/*.select-box_2 {
  float: right;
}*/
select:focus, select:active {
  outline: 0;
}
input:focus, select:focus, textarea:focus, form:focus, button:focus {
  outline: 0;
}

.labels{
  font-size: 18px;
  color: #333;

  margin-left: 25px;
  margin-bottom: 40px;
}

.teching_style_box{
  border: 1px solid #ddd;
      width: 700px;
      margin-top: 10px;
    margin-bottom: 25px;
        border-radius: 10px;
}


.video {
  margin: 10px;
    width: 30%;

    border: 1px solid black;
    cursor: pointer;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:50%;
}
.playpause {
    background-image:url('../images/vimeo-play-button-icon.png');
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    cursor: pointer;
    position:absolute;
    left:-63%;
    right:-15%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
